/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* inter-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-cyrillic_latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-500 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v12-cyrillic_latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-cyrillic_latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-600 - cyrillic_latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v12-cyrillic_latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-cyrillic_latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  html{
    box-sizing: border-box;
  }
  *, *::before, *::after{
    box-sizing: inherit;
  }
  body {
    font-family: 'Inter' ;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
  }
  .wrapper {
    max-width: 1350px;
    margin: 0 auto;
  }

  .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
  }

  .header__list{
    display: flex;
    flex-wrap: wrap;
  }

  .header__item{
    margin-right: 46px;
  }

  .header__link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    text-decoration: none;
  }

  .header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;
  }

  /* Приховуємо чекбокс */
#toggle-menu {
  display: none;
}

/* Показуємо меню, коли чекбокс відзначений */
#toggle-menu:checked ~ .header__nav {
  display: block;
}

/* Сховати меню за межами екрану */
.header__nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

/* Стилізуємо посилання меню */
.header__link {
  display: block;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.header__link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


.intro {
  height: 100vh;
  background: url(../img/Black\ Orange\ Simple\ Gym\ Fitness\ \ Facebook\ Ads.png) no-repeat;
  background-size: 100% 100%;
  }
  
  .intro1{
    height: 100vh;
    background: url(../img/Home\ \(2\).png) no-repeat;
    background-size: 100% 100%;
  }

  .btn-price {
    display: block;
    width: 300px;
    height: 75px;
    line-height: 63px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #F1DD23;
    border-radius: 5px;
    position: absolute;
    left: 425px;
    top: 1041px;
    text-decoration: none;
  }
  
  .btn-price:hover {
    background-color: #f7ee99;
  }

  .benefits{
    height: 100vh;
    background: url(../img/logoblur.jpg) no-repeat;
    background-size: 100% 100%;
  }
  
  .benefits__title{
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #F1DD23;
    margin-bottom: 30px;
  }
  
  .benefits__cards{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 50px;
    justify-items: center;
    padding: 0 20px;
  }
  
  @media (min-width: 768px) {
    .benefits__cards{
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 50px;
      padding: 0 40px;
    }
  
    .benefits__card{
      width: 100%;
      max-width: 400px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .benefits__card-thumb {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }
  
    .benefits__card-title{
      font-size: 24px;
      line-height: 32px;
      margin-top: 30px;
    }
  }
  
  @media (min-width: 1024px) {
    .benefits__cards{
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 50px;
      padding: 0 80px;
    }
  
    .benefits__card{
      max-width: 280px;
      height: 300px;
    }
  
    .benefits__card-title{
      font-size: 20px;
      line-height: 24px;
      margin-top: 50px;
    }
  
    .benefits__card-thumb {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
  }
  

  
  
  .gallery {
    min-height: 100vh;
    background: url(../img/danielle-cerullo-CQfNt66ttZM-unsplash\ 1.png) no-repeat;
    background-size: cover;
    }
    
    .gallery__title {
    font-weight: 600;
    font-size: 3vw;
    line-height: 1.2;
    text-align: center;
    background-color: #D9D9D9;;
    padding: 1rem;
    }
    
    .gallery__card {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    margin: 1rem;
    font-weight: 600;
    font-size: 3vw;
    line-height: 1.2;
    text-align: center;
    color: #F1DD23;
    vertical-align: top;
    }
    
    .gallery__card-pick {
    display: block;
    margin: 0 auto;
    }
    
    .gallery__card-thumb {
    width: 100%;
    height: auto;
    max-width: 300px;
    }
    
    @media (min-width: 768px) {
    .gallery__card {
    width: 48%;
    }
    }
    
    @media (min-width: 1024px) {
    .gallery__card {
    width: 32%;
    }
    }
    
    @media (min-width: 1200px) {
    .gallery__title {
    font-size: 40px;
    }
    }
  
  .timetable {
    height: 100vh;
    background: url(../img/IMG_7266.JPG) no-repeat;
    background-size:100% 100%;
  }

  .comand{
background-color: #fff;
  }

  .comand__header {
    display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 20px;
background-color: #D9D9D9;
}

.comand__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000;
}

.comand__card-title{
  font-weight: 600;
font-size: 30px;
line-height: 36px;
text-align: center;
color:#F1DD23;
}

.comand__card-sub {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-top: 10px;
}

.comand__cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  padding: 0 100px;
}

.comand__card {
  display: grid;
  grid-template-rows: 1fr auto auto;
  align-items: center;
  background-color: #D9D9D9;
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease;
}

.comand__card:hover {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  }
  
  .comand__card-thumb {
  max-width: 100%;
  }

  .price{
    height: 130vh;
    background: url(../img/IMG_6728.JPEG) no-repeat;
    background-size: 100% 100%;
  }

  .cards__card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
  
  .cards__card-sub1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    background-color: #FAEA5A;
  }
  
  .cards__card-sub2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
  
  .cards {
    min-height: 100vh;
    background: url(../img/фон.jpg) no-repeat;
    background-size: 100% 100%;
  }
  
  .cards__cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
  }
  
  .cards__card {
    width: 30%;
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
  }

  
  .cards__card:hover {
    background-color: #dcdcdc;
  }
  
  .cards__card-thumb {
    width: 100%;
  }

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
  }
  
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  width: 150px;
  margin-right: 90px;
}

.contact-info {
  flex-grow: 1;
  max-width: 600px;
  padding-right: 50px;
}

.contact-info p {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 1.5;
}
